/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
data-cats-dogs/
resources/train/
resources/train.zip
resources/test.zip
resources/test/
resources/public/js/app.js
resources/public/out/*
trained-network.nippy
kaggle-results.csv